services:
  backend:
    container_name: zoma-ai-backend-local
    build:
      context: ./packages/backend
      dockerfile: Dockerfile.local
    ports:
      - ${BACKEND_PORT:-7700}:${BACKEND_PORT:-7700}
    environment:
      - PORT=${BACKEND_PORT:-7700}
      - NODE_ENV=${NODE_ENV:-development}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-zoma_dev}
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgres:5432/${POSTGRES_DB:-zoma_dev}?schema=public
      - RUN_SEED=${RUN_SEED:-true}
    env_file:
      - path: ./packages/backend/.env
    volumes:
      - ./packages/backend:/app
      # - /app/node_modules
      - /app/node_modules/.prisma
    working_dir: /app
    networks:
      - zoma_network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    container_name: zoma-ai-postgres-local
    image: postgres:16
    ports:
      - '5532:5432'
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-zoma_dev}
    env_file:
      - ./packages/backend/.env
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\"'"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - zoma_network
      
  redis:
    container_name: zoma-ai-redis-local
    image: redis:7.0
    ports:
      - '6479:6379'
    volumes:
      - 'redis_data:/data'
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - zoma_network  
    
  # web:
  #   build:
  #     context: ./packages/web
  #     dockerfile: Dockerfile
  #   ports:
  #     - ${WEB_PORT:-7701}:${WEB_PORT:-7701}
  #   environment:
  #     - PORT=${WEB_PORT:-7701}
  #   volumes:
  #     - ./packages/web:/app
  #   working_dir: /app
  #   command: yarn run dev

volumes:
  postgres_data:
  redis_data:

networks:
  zoma_network: